{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href={{url_for('static',filename='login/signup.css')}}>
{% endblock %}

{% block title %}Break Time: Welcome..{% endblock %}

{% block Container %}
    <img id="formCoverImg" src="{{url_for('static',filename='src/formCoverImg.png')}}" alt="" />
    <div id="formContainer">
    <legend>Signup</legend>
    <form id="signup" action="#" method="post">
    <div id="progressBar">
        <div id="progressLine"></div>
        <ul>
            <li class="current">Number</li>
            <li>Name</li>
            <li>College info</li>
            <li>Password</li>
        </ul>
    </div>
    <div id="stepContainer">
        <!-- Step 1-->
        <div class="steps current">
            <div class="inputbox">
                <input type="email" name="email" id="Email" value="" placeholder=""/>
                <label for="">Email</label>
            </div>

            <div class="inputbox">
                <input type="tel" name="tel" id="" value="" placeholder="" required required pattern="\d{10,10}" title="Enter 10 Number"/>
                <label for="tel">Mobile Number</label>
            </div>
            <div id="otp" class="inputbox">
                <input type="tel" name="tel" id="" placeholder=""value="" />
                <label for="tel">OTP</label>
            </div>
        </div>
        <!-- Step 2-->
        <div class="steps">
            <div class="inputbox">
                <input type="text" name="fname" id="" value="" placeholder=""required />
                <label for="fname">First Name :</label>
            </div>

            <div class="inputbox">
                <input type="text" name="mname" id="MName" value="" placeholder=""/>
                <label for="MName">Middle Name</label>
            </div>
            <div id="otp" class="inputbox">
                <input type="text" name="lname" id="LName" value="" placeholder="" required />
                <label for="LName">Last Name</label>
            </div>
        </div>
        
        <div class="steps">
            <div class="inputoption">
                <label for="Department">Department</label>
                <select name="departmentid" id="Department" required>
                    <option value="1">BCA</option>
                    <option value="0">BBA</option>
                </select>
            </div>
            <div class="inputoption">
                <label for="Department">Semister</label>
                <select name="semid" id="semister" required>
                    <option value="1">1st</option>
                    <option value="0">2nd</option>
                </select>
            </div>
            <div class="inputoption">
                <label for="Department">Section</label>
                <select name="sectionid" id="Section" required>
                    <option value="1">A</option>
                    <option value="2">B</option>
                </select>
            </div>
        </div>
        <div class="steps">
            <div class="inputbox">
                <input type="password" name="pass" id="" value="" placeholder=""required />
                <label for="password">Password</label>
            </div>
            <div class="inputbox">
                <input type="password" name="pass" id="" value="" placeholder="" required/>
                <label for="password">Confirm Password</label>
            </div>
        </div>
    </div>
    <!--Controls-->
    <div id="buttonContainer">
        <button id="priviousBtn" type="button">Privious</button>
        <button id="nextBtn"type="button">Next</button>
        <button id="submitBtn"type="submit">Submit</button>
    </div>
    <!--Other -->
    <div id="othersignup">
        <p>Register with other</p>
        <div>
            <a href="#"> 
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="Github"/>
    </a>
        <a href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Google_Favicon_2025.svg/1024px-Google_Favicon_2025.svg.png?20250526093708" alt="Google"/>
    </a>
            <a href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Facebook_logo_%28square%29.png" alt="Facebook"/>
    </a>
        </div>

    </div>
    <div id="login">
        <p>Already have Account ?</p>
        <p><a href="{{url_for('login')}}">Login</a></p>
    </div>
    </form>
    </div>
{% endblock %}
{% block script %}
<script src={{url_for('static',filename='login/signup.js')}} type="text/javascript" charset="utf-8"></script>
{% endblock %}