*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:#4CAF50;
}
html, body {
    height: 100%;
    margin: 0;
}

body #formContainer{
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}
form{
    width: 300px;
}
form div p {
    text-align: center;
    margin: 0 0 5px 0;
}
form #loginblock {
    display: flex;
    flex-direction: column;
}

form #loginblock legend{
    margin: 10px;
    font-size:30px;
    font-weight: bold;
    text-align: center;
}
form #loginblock .inputfield{
    margin: 30px 0 0 0;
    position: relative;
    display: flex;
    align-items: center;
}
form #loginblock .inputfield img{
    position: absolute;
    height: 30px;
    left: 0;
    
}
form #loginblock .inputfield .errordisplay{
    margin: 0;
    visibility: hidden;
}
form #loginblock input{
    width: 100%;
    border: 2px solid white;
    border-color: white;
    outline: none;
    border-radius: 30px;
    padding: 5px;
    color: black;
}
form #loginblock .inputfield input{
    width: 100%;
    border: 2px solid white;
    border-color: white;
    outline: none;
    border-radius: 30px;
    padding: 5px;
    color: white;
    background-color: transparent;
}

form #loginblock .inputfield label{
    position: absolute;
    pointer-events: none;
    color: rgba(0,0,0,0.6);
    background: ;
    margin:0 10px ;
    top: 5px;
    left:40px;
    transition: 0.3s ease;
}
/* add * after lable where sibling input has attribute [required]*/
form #loginblock .inputfield input[required] + label::after {
    content: '*';
    color: red;
    margin-left: 4px;
}

form #loginblock .inputfield input:focus {
    border-color: green;
}


form #loginblock .inputfield  input:not(:placeholder-shown) + label,form #loginblock .inputfield input:focus + label {
    background-color: var(--bg-color);
    color: white;
    font-size: 12px;
    transform: translateY(-15px);
}

#telephonefield{
    
}

#passwordfield{
    
}
form #loginblock p{
    text-align: right; 
}
form #loginblock button{
    height: 40px;
    width: 70%;
    margin: auto;
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    
}

#othersignup{
    margin: 50px 0 50px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: ;
    
}
#othersignup img {
    height: 30px;
}
#othersignup div{
    width: 120px;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    background-color: ;
}