*{
    margin: 0;
    padding: 0;
    color: white;
}
:root{
    --primary-color: green;
    /*--steps: 4; Defult steps (Modify my js dynamically )*/
    --progress-bar-width:calc((var(--steps) - 1) / var(--steps) * 100%);
    /*--progress-bar-width:calc((3/4)*100%);*/
}
body{
    
}
body #formCoverImg{
    
}
body #formContainer{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    background-color: white;
}
body #formContainer legend{
    margin: 10px;
    font-size:30px;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
}

form{
    width: 100%;
    padding: 20px;
    margin: auto;
    border-radius: 30px;
    display: flex;
    flex-direction:column ;
    background-color: pink;
}
form #progressBar{
    position: relative;
    margin-top: 20px;
}
 /* Creating line */
#progressBar::before{
    content: '';
    position: absolute;
    height: 2px;
    /*width: 100%;*/
    width: var(--progress-bar-width);
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: gray;
}
#progressBar #progressLine{
    position: absolute;
    height: 3px;
    /*width: 100%;*/
    width: var(--progress-bar-width);
    top: 10px;
    left: 50%;
    translate: -50% -50%;
    
    transform: scaleX(0); /*width changed by js dynamically*/
    transform-origin: left;
    background-color: var(--primary-color);
    z-index: 2;
    transition: 0.5s;
}

form #progressBar ul{
    counter-reset: step;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: ;
    
}

form #progressBar ul li{
    list-style-type: none;
    display: flex;
    flex: 1; /* to take same space by all steps*/
    flex-direction: column;
    align-items: center;
    color: gray;
    font-size: 13px;
}
/*pseudo Element for display number in progress bar*/
form #progressBar ul li::before{
    content: counter(step);
    counter-increment: step;
    height: 20px;
    width: 20px;
    border-radius:50%;
    display: grid;
    place-items: center;
    z-index: 2;
    background-color: gray;
    color: white;
    /*for */
    transition: box-shadow 0.5s ease, background-color 0.5s ease;
} 
form #progressBar ul li.done,form #progressBar ul  li.current{
    color: black; 
    font-weight: 500px;
}
form #progressBar ul .done::before{
    background-color: var(--primary-color);
}

form #progressBar ul li.current::before{
    /*height: 25px;
    width: 25px;
    border:2px solid var(--primary-color);*/
    background-color: var(--primary-color);
    box-shadow: 0 0 0 3px var(--primary-color); /*Increase Size*/
}
form #stepContainer{
    display: flex;
    background-color: ;
    overflow: hidden;
}
form #stepContainer .steps{
    flex: 1 0 100%;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s ease;
}
form #stepContainer .steps.current{
    opacity: 1;
    pointer-events: all;
}
form #stepContainer .steps .inputbox{
    margin: 20px 10px;
    display: flex;
    position: relative;
}
form #stepContainer .steps .inputbox label{
    position: absolute;
    pointer-events: none;
    color: gray;
    background: ;
    margin:0 10px ;
    top: 5px;
    transition: 0.3s ease;
}
/* add * after lable where sibling input has attribute [required]*/
form #stepContainer .steps .inputbox select[required]~label::after,form #stepContainer .steps .inputbox input[required] + label::after {
    content: '*';
    color: red;
    margin-left: 4px;
}

form #stepContainer .steps .inputbox input{
    width: 100%;
    border: 2px solid white;
    border-color: white;
    outline: none;
    border-radius: 30px;
    padding: 5px;
    color: black;
    background-color: pink;
}
form #stepContainer .steps .inputbox input:focus {
    border-color: var(--primary-color);
}
form #stepContainer .steps .inputbox input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px pink inset ;
}

form #stepContainer .steps .inputbox input:not(:placeholder-shown) + label,form #stepContainer .steps .inputbox input:focus + label {
    background: pink;
    color: var(--primary-color);
    font-size: 12px;
    transform: translateY(-15px);
}

form #stepContainer .steps .inputoption{
    margin: 20px 0;
    background-color: ;
    display: flex;
    flex: 1;
    
}
form #stepContainer .steps .inputoption label{
    width: 100px;
    
}

form #stepContainer .steps .inputoption select{
    outline: none;
    margin: 0 20px;
    width: 150px;
    color: black;
}

/*₹₹₹₹₹₹₹₹₹₹₹ button ₹₹₹₹₹₹₹₹₹₹₹₹*/
form #buttonContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form #buttonContainer button{
    border: none;
    cursor: pointer;
    border-radius: 30px;
    height: 30px;
    flex: 1;
    margin: 0 5px;
    padding: 5px;
    background-color: var(--primary-color);
}
form #buttonContainer #priviousBtn{
    display: none;
}
form #buttonContainer button[type="submit"]{
    display: none;/*Defult none changed by js in last step to bolck*/
    background-color: black;
}



/*Extra*/
#othersignup{
    margin: 50px 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: ;
}

#othersignup img {
    height: 30px;
}
#othersignup div{
    width: 120px;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    background-color: ;
}

body #formContainer #login{
    margin: 20px;
}
body #formContainer #login p,a{
    text-align: center;
    color: var(--primary-color);
}
