<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Break Time: Restaurant Menu</title>
    
    <!-- Application Name -->
    <meta name="apple-mobile-web-app-title" content="It's Break Time">
    <meta name="application-name" content="Break Time">
    <link rel="manifest" href={{url_for('static',filename='manifest.json')}}>
    
    <link rel="icon" href="../static/src/logo.jpg" type="image/jpg">
    
    <link rel="stylesheet" href={{url_for('static',filename='restaurant/additem.css')}}>
</head>


<body>
   <h1>Menu List</h1>
   <div>
       <a href="{{url_for('additem')}}">Add<img src="" alt="" /></a>
   </div>

<nav id="BottomNavigationBar">
            <!--search bar, order , menu-->
            <ul>
                <li><a href="{{url_for('restaurantpage')}}"><img class="BottomNavigationBarIcon" alt="Order"src={{url_for('static',filename='src/open-cardboard-box.svg')}}></a></li>
                <li><a href="{{url_for('menu')}}"><img class="BottomNavigationBarIcon" alt="Item List"src="../static/src/restaurant-menu.svg"></a></li>
                <!-- <li><a href="{{url_for('search')}}"><img class="BottomNavigationBarIcon" alt="Search"src="../static/src/search.svg"></a></li> -->
                <li><a href="{{url_for('restaurantlogin')}}"><img class="BottomNavigationBarIcon" alt="Profile"src={{url_for('static', filename='src/restaurant.svg')}}></a></li>
            </ul>
    </nav>
<script src={{url_for('static',filename='restaurant/script.js')}} type="text/javascript" charset="utf-8"></script>
</body>

</html>