{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href={{url_for('static',filename='cart.css')}}>
{% endblock %}

{% block title %}Break Time: Cart{% endblock %}

{% block Container %}
<div id="emptyCartDisplay">
    <img src="../static/src/empty-cart.png" alt="Empty Cart" />
</div>
           
<div id="cartlist">
    <!--<div item-id = "1" class="item">
        <div class="pic">
            <img class="itemPic" src={{url_for('static', filename='.images/items/sandwich.png')}} alt="item" />
            <img class="itemType" src={{url_for('static', filename='src/veg.svg')}} alt="Food Type" />
        </div>
        <div class="namePrice">
            <p>Name of item</p>
            <p>₹100</p>
        </div>
        <div class="quantitycontainer">
            <div class="addTocart" >
                <span class="removeItem"><img src={{url_for('static', filename='src/minus-circle.svg')}} alt="remove item" /></span>
                <span class="quantity">0</span> 
                <span class="addItem"><img src={{url_for('static', filename='src/plus-circle.svg')}} alt="add item"/></span>
            </div> 
        </div>
        <div class="total">
            <p>₹10000</p>
        </div>
        <div class="removeItem">
            <img class= "delItem" src={{url_for('static', filename='src/delete-icon.svg')}} = alt="Remove Item" />
        </div>
    </div> -->
</div>
<div id="confirmOrder">
    
</div>
{% endblock %}

{% block script %}
    <script src="{{url_for('static',filename='cart.js')}}" type="text/javascript" charset="utf-8"></script>
{% endblock %}