{% extends 'base.html' %}

{% block categories %}
<section id="categories">
<h3>Categories</h3>
    <div id="categoriesBlocksContainer">
        {% for category in categories%}
            <div class="categoriesBlock">
            <img src={{url_for('static' ,filename='.images/categories/'~category.img)}} alt="{{ category.name }}" />
            <p>{{ category.name }}</p> 
            </div>
        {% endfor %}
<!--
            <div class="categoriesBlock">
                <img src="/static/.images/categories/sandwich.png" alt="" />
                <p>Sandwiches</p>
            </div>
            
            
            <div class="categoriesBlock">
                <img src="static/.images/categories/noodles.jpeg" alt="" />
                <p>Noodles</p>
            </div>
            <div class="categoriesBlock">
                <img src="/static/.images/categories/Hotdog.jpg" alt="" />
                <p>Hot Dogs</p>
            </div>
            <div class="categoriesBlock">
                <img src="static/.images/categories/bread.jpeg" alt="" />
                <p>Bread</p>
            </div>
            <div class="categoriesBlock">
                <img src="static/.images/categories/roti.jpeg" alt="" />
                <p>Roti</p>
            </div>
            <div class="categoriesBlock">
                <img src="static/.images/categories/rice.jpeg" alt="" />
                <p>Rice Dishes</p>
            </div>
-->
    </div>
</section>
{% endblock %}

{% block items %}
<div id="items">
    {% for item in items %}
        <div item-id="{{item.itemid}}" class="itemCard">
            <div class="itemCardPhoto">
                <img class="" src={{url_for('static',filename='.images/items/'~item.img)}} alt="item" />
                </div>
                <div class="itemCardDetails">
                    <div class="priceAndfavourit">
                        <span>
                            <img class="" src="/static/src/favourite.svg" alt="favourite" alt="total favourite" height=""/>
                            <span>{{ item.noFev }}</span>
                        </span>
                        <p class="">₹ {{ item.price }}</p>
                    </div>
                    <div class="itemName">
                        {{ item.name }}
                    </div>
                    
                    
                </div>
                <div class="addTocart" >
                            <span class="removeItem"><img src={{url_for('static', filename='src/minus-circle.svg')}} alt="remove item" /></span>
                            <span class="quantity">0</span> 
                            <span class="addItem"><img src={{url_for('static', filename='src/plus-circle.svg')}} alt="add item"/></span>
                    </div> 
                <div class="itemType">
                    <img class="" src={{url_for('static',filename='/src/'~item.type)~'.svg'}} alt="type"/>
                </div>
                <div class="itemFavourite">
                    <img class="" src="/static/src/favourite.svg" alt="favourite" />
                </div>
        </div>
    {% endfor %}
    
<!--  
    <div class="itemCard">
                <div class="itemCardPhoto">
                    <img class="" src="/static/.images/items/sandwich.png" alt="item" />
                </div>
                <div class="itemCardDetails">
                    <div class="priceAndfavourit">
                        <span>
                            <img class="" src="/static/src/favourite.svg" alt="favourite" alt="total favourite" height=""/>
                            <span>0</span>
                        </span>
                        <p class="">₹ 10.00</p>
                    </div>
                    <div class="itemName">
                        Samosa 
                    </div>
                    <div id="" class="" >
                            <div>
                                
                            </div>
                    </div>
                    
                </div>
                <div class="itemType">
                    <img class="" src="/static/src/veg.svg" alt="type"/>
                </div>
                <div class="itemFavourite">
                    <img class="" src="/static/src/favourite.svg" alt="favourite" />
                </div>
            </div>
            
            
            
            
            <div class="itemCard">
                <div class="itemCardPhoto">
                    <img class="" src="/static/.images/items/noodles.jpeg" alt="item" />
                </div>
                <div class="itemCardDetails">
                    <div class="priceAndfavourit">
                        <span>
                            <img class="" src="/static/src/favourite.svg" alt="favourite" alt="total favourite" height=""/>
                            <span>0</span>
                        </span>
                        <p class="">₹ 10.00</p>
                    </div>
                    <div class="itemName">
                        Samosa 
                    </div>
                    <div id="" class="" >
                            <div>
                                
                            </div>
                    </div>
                    
                </div>
                <div class="itemType">
                    <img class="" src="/static/src/veg.svg" alt="type"/>
                </div>
                <div class="itemFavourite">
                    <img class="" src="/static/src/favourite.svg" alt="favourite" />
                </div>
            </div>
            <div class="itemCard">
                <div class="itemCardPhoto">
                    <img class="" src="/static/.images/categories/Hotdog.jpg" alt="item" /> 
                </div>
                <div class="itemCardDetails">
                    <div class="priceAndfavourit">
                        <span>
                            <img class="" src="/static/src/favourite.svg" alt="favourite" alt="total favourite" height=""/>
                            <span>0</span>
                        </span>
                        <p class="">₹ 10.00</p>
                    </div>
                    <div class="itemName">
                        Samosa 
                    </div>
                    <div id="" class="" >
                            <div>
                                
                            </div>
                    </div>
                    
                </div>
                <div class="itemType">
                    <img class="" src="/static/src/veg.svg" alt="type"/>
                </div>
                <div class="itemFavourite">
                    <img class="" src="/static/src/favourite.svg" alt="favourite" />
                </div>
            </div>
            
            
</div>
-->
{% endblock %}