{% extends 'base.html' %}
{% block title %}
    Break Time :Order food
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../static/style.css">
{% endblock %}

{% block recomendation %}
    <p>Recomendation</p>
    <br />
{% endblock %}
    
    
{% block categories %}
    <p>Categories</p>
    <br />
{% endblock %}
    
    
{% block filter %}
    <p>Filter</p>
    <br />
{% endblock %}
    
    
{% block items %}
    <p>Items</p>
    <br />
{% endblock %}

{% block script %}
    <script src="../static/script.js"></script>
{% endblock %}