<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Break Time :Order food</title>
    
    <!-- Application Name -->
    <meta name="apple-mobile-web-app-title" content="It's Break Time">
    <meta name="application-name" content="Break Time">
    <link rel="manifest" href="/manifest.json">
    
    <link rel="icon" href="../static/src/logo.jpg" type="image/jpg">
    <link rel="stylesheet" href="../static/me.css">
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
</head>


<body>
    <div>
        <img src="" alt="photo" />
        <h1>Hi I am Akhil Biswas</h1>
        <p id="iscription"></p>
    </div>
    <div id="contact">
        <h2>Connect with Me</h2>
        <!--
        <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="akhilbiswas-radhe" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/akhilbiswas-radhe?trk=profile-badge">Akhil Biswas</a>
        </div>
        -->
        <div id="website">
            <img src="" alt="" />
            <a href="https://akhil-biswas.netlify.app">Follow</a>
        </div>
        <div id="linkedin">
            <img src="" alt="" />
            <a href="https://in.linkedin.com/in/akhilbiswas-radhe">Follow</a>
        </div>
        <div id="github">
            <img src="" alt="" />
            <a href="https://github.com/Akhil-Biswas/">Follow</a>
        </div>
    </div>
    
</body>
  
</html>