{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href={{url_for('static',filename='profile.css')}}>
{% endblock %}

{% block title %}Break Time:{% endblock %}

{% block Container %}
    <div id="basicinfo">
        <!-- Basic Info-->
        <img id="avatar" src="{{url_for('static',filename='.images/profile_pic/'~user.userid~'.jpg')}}" alt="Profile Pic" />
        <div>
            <h2>{{user.fname}} {{ user.mname }} {{user.lname}}</h2>
            <p>{{user.email}}</p>
        </div>
    </div>
    <!-- spacial login & Manager name (cr, hod, principal)-->
    <div id="additionallogin">
        <a href="{{ url_for('crpage') }}">
            <button type="button">Login as CR</button>
        </a>
</div>
        <!--Extra more Info-->
    <div id="moreinfo">
        <div id="">
            <p>User id: @{{user.userid}}</p>
        </div>
        <div id="">
            <p>Department:</p>
        </div>
        <div id="">
            <p>Semister:</p>
        </div>
        <div id="">
            <p>Section:</p>
        </div>
    </div>
    <div>
        <!--for logout-->
        <div id="logout">
            <a href={{url_for('logout')}}>
                <img src={{url_for('static', filename = 'src/logout.svg')}} alt="" />
                <p>logout</p>
            </a>
        </div>
    </div>
    
{% endblock %}

{% block script %}
    <script src={{url_for('static',filename='login/signup.js')}} type="text/javascript" charset="utf-8"></script>
{% endblock %}