<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Break Time :Order food</title>
    
    <!-- Application Name -->
    <meta name="apple-mobile-web-app-title" content="It's Break Time">
    <meta name="application-name" content="Break Time">
    <link rel="manifest" href={{url_for('static',filename='manifest.json')}}>
    
    <link rel="icon" href={{url_for('static', filename='/src/logo.jpg')}} type="image/jpg">
    
    <link rel="stylesheet" href={{url_for('static',filename='profile.css')}}>
</head>
<body> 
    <div id="basicinfo">
        <!-- Basic Info-->
        <img id="avatar" src="{{url_for('static',filename='.images/profile_pic/'~user.userid~'.jpg')}}" alt="Profile Pic" />
        <div>
            <h2>{{user.fname}} {{ user.mname }} {{user.lname}}</h2>
            <p>{{user.email}}</p>
        </div>
    </div>
    <!-- spacial login & Manager name (cr, hod, principal)-->
    <div id="additionallogin">
        <a href="{{ url_for('crpage') }}">
            <button type="button">Login as CR</button>
        </a>
</div>
        <!--Extra more Info-->
    <div id="moreinfo">
        <div id="">
            <p>User id: @{{user.userid}}</p>
        </div>
        <div id="">
            <p>Department:</p>
        </div>
        <div id="">
            <p>Semister:</p>
        </div>
        <div id="">
            <p>Section:</p>
        </div>
    </div>
    <div>
        <!--for logout-->
        <div id="logout">
            <a href={{url_for('logout')}}>
                <img src={{url_for('static', filename = 'src/logout.svg')}} alt="" />
                <p>logout</p>
            </a>
        </div>
    </div>
    <nav id="BottomNavigationBar">
            <!--search bar, order , menu-->
            <ul>
                <li><a href="{{url_for('home')}}"><img class="BottomNavigationBarIcon" alt="Menu"src="../static/src/restaurant-menu.svg"></a></li>
                <li><a href="{{url_for('favourite')}}"><img class="BottomNavigationBarIcon" alt="Favourite"src="../static/src/favourite.svg"></a></li>
                <li><a href="{{url_for('search')}}"><img class="BottomNavigationBarIcon" alt="Search"src="../static/src/search.svg"></a></li>
                <li><a href="{{url_for('cart')}}"><img class="BottomNavigationBarIcon" alt="Cart"src="../static/src/cart.svg"></a></li>
                <li><a href="{{url_for('profile')}}"><img class="BottomNavigationBarIcon" alt="Profile"src={{url_for('static', filename='src/profile.svg')}}></a></li>
            </ul>
    </nav>
<script src={{url_for('static',filename='login/signup.js')}} type="text/javascript" charset="utf-8"></script>
</body>
</html>